@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slick-list {
    width: 100%
}

.slick-arrow.slick-next {
    background: transparent;
    position: absolute;
    z-index: 3;
}

.slick-arrow.slick-prev {
    background: transparent;
    position: absolute;
    z-index: 3;
}

@media(max-width: 400px) {

    .slick-arrow.slick-next
    .slick-arrow.slick-prev {
        opacity: 0;
    }

}