@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slick-list {
    width: 100%
}

.slick-arrow.slick-next::before {
    background: transparent;
    position: absolute;
    z-index: 3;
}

.slick-arrow.slick-prev::before {
    background: transparent;
    position: absolute;
    z-index: 3;
}